In [1]:
a=10
type(a)

int

In [2]:
a=10.0
type(a)

float

In [4]:
b="python"
print(type(b))

<class 'str'>

In [7]:
c='''Data
Engineering
Python''' #triple quotes used for multiline strings
print(type(c))

<class 'str'>

In [9]:
a=True
print(type(a))

<class 'bool'>

In [11]:
a=10
b=20
c=a>b
print(c)

False

In [13]:
print(True+True) #1+1
print(True+False) #1+0
print(False+True) #0+1
print(False+False) #0+0

2
1
1
0

In [15]:
c=10+20i
print(c)#wrong

SyntaxError: invalid decimal literal (1471258899.py, line 1)

In [17]:
c=10+20j#use this for complex numbers
print(c)

(10+20j)

In [19]:
a=10
print(id(a)) #place of a

8885288

In [21]:
b=10
print(id(a))#same place as a since they both point to object with value 10

8885288

In [23]:
a=20
print(id(a))

8885608

In [25]:
s='Data Engineering'

In [27]:
s[-2]

'n'

In [29]:
s[2]

't'

In [31]:
s[0:4] #s[start:end-1]

'Data'

In [33]:
s='abcdefghijklmnopqrstuvwxyz'
#get output mno
s[12:15]

'mno'

In [35]:
#get output xyz
s[-3:]

'xyz'

In [37]:
#get output from a to n
s[:14]

'abcdefghijklmn'

In [2]:
s[3:1000]

NameError: name 's' is not defined

In [4]:
is_geological_survey_complete = True

is_environmental_clearance_received = True

is_market_demand_high = False

In [6]:
should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high

In [8]:
print("Should we start drilling?",should_start_drilling)

Should we start drilling? False

In [11]:
# Boolean Variables

HasExplorationPermit = True

HasDrillingRights = True

HasEnvironmentalApproval = False

HasOilDiscovery = True

 

# Logical Operations

IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval

IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights)

In [13]:
print(IsExplorationAllowed, IsDiscoveryProfitable)

True True

In [17]:
"ten"+"twenty"

'tentwenty'

In [19]:
"ten"*2

'tenten'

In [21]:
#LIST: [] brackets useds
#can have duplicates, are new tables(can be changed), order is preserved(1st element will always be 1st unlike set), mutable, heterogenous objects are allowed, indexing and slicing are possible
a=[10,"Python",10,10,5,True]

In [23]:
a[0]

10

In [25]:
a.append(999)
print(a[-1])

999

In [27]:
print(id(a))

140592871480576

In [29]:
a.remove(10)
print(a)

['Python', 10, 5, True, 999, 999]

In [31]:
#Tuple:use () brackets
#immutable, rest all same as list
a=("Well A","2023-09-15","Pipeline",True,100,100)

In [34]:
type(a)

tuple

In [39]:
#Formatted string
name="Saakshi"
working="Data Engineer"
print("I am {} working as {}".format(name,working))
print("I am %s working as a %s"%(name,working))#no comma or dot after sentence

I am Saakshi working as Data Engineer
I am Saakshi working as a Data Engineer

In [44]:
#fstream
print(f"i am {name} working as {working}")

i am Saakshi working as Data Engineer

In [47]:
# Employee details
name = "John Doe"
job_title = "Senior Geologist"
department = "Geology"
email = "johndoe@email.com"
phone = "123-456-7890"

In [49]:
employee_info=f"Employee Information: \nName: {name} \nJob Title:{job_title} \nDepartment: {department} \nEmail:{email} \nPhone:{phone} "
print(employee_info)

Employee Information:
Name: John Doe
Job Title:Senior Geologist
Department: Geology
Email:johndoe@email.com
Phone:123-456-7890

In [51]:
#Set: uses {} brackets
#heterogenous object, no duplicated allowed, order is not preserved, slicing and indexing is not possible
c={10,10.5,"Shell",True,False,10}
print(c)

{False, True, 10.5, 'Shell', 10}

In [53]:
c.add("SQL")
print(c)

{False, True, 'SQL', 10.5, 'Shell', 10}

In [56]:
#Dictionary: uses {} brackets
#key value pair
d={"location":"Well A", "Start Date":"2023-09-15","duration":45, "End":True}
print(d)

{'location': 'Well A', 'Start Date': '2023-09-15', 'duration': 45, 'End': True}

In [58]:
d['location']='Well B'
print(d)

{'location': 'Well B', 'Start Date': '2023-09-15', 'duration': 45, 'End': True}

In [60]:
# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]

 

# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment

 

print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

In [62]:
employees = [
    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",
    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",
    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",
    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"
]

In [64]:
#Access and print the details of the first employee in the list.
employees[0]

'John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890'

In [66]:
#Add a new employee
new_employee = "Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333"
employees.append(new_employee)
print(employees)

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890', 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210', 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123', 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333']

In [67]:
#Selection Statement

In [75]:
low_fuel_thresold=1000
critical_fuel_thresold=500
current_fuel_level=int(input("enter current fuel level"))

enter current fuel level12000

In [76]:
if(current_fuel_level<critical_fuel_threshold):
    print("Critical fuel level reached.Take immediate action.")
elif(current_fuel_level<low_fuel_threshold):
    print("Send fuel low alert")
else:
    print("continue fueling")

continue fueling

In [78]:
l1=['a','b','c']
l2=['Sales','IT','Finance']
l=list(zip(l1,l2))
print(l)
print(type(l))

[('a', 'Sales'), ('b', 'IT'), ('c', 'Finance')]
<class 'list'>

In [96]:
oil_gas_data = [
    ("Field A", "Texas", 500000),
    ("Field B", "Alaska", 800000),
    ("Field C", "North Sea", 300000),
    ("Field D", "Gulf of Mexico", 600000),
]
field_name,location,reserve=zip(*oil_gas_data)# * shows length of list

In [82]:
print(field_name)
print(location)
print(reserve)

('Field A', 'Field B', 'Field C', 'Field D')
('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')
(500000, 800000, 300000, 600000)

In [85]:
i=list(enumerate(location))
print(i)

[(0, 'Texas'), (1, 'Alaska'), (2, 'North Sea'), (3, 'Gulf of Mexico')]

In [87]:
z=list(enumerate(field_name))
print(z)

[(0, 'Field A'), (1, 'Field B'), (2, 'Field C'), (3, 'Field D')]

In [89]:
for index, field_data in enumerate(oil_gas_data):
    field_name, location, reserve = field_data
    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.

In [97]:
from collections import Counter
location_count=Counter(location)

In [98]:
print(location_count)

Counter({'Texas': 1, 'Alaska': 1, 'North Sea': 1, 'Gulf of Mexico': 1})